@model CepClienteViewModel

    <div class="col-md-6">
        <label asp-for="Cep" class="control-label"></label>
        <input asp-for="Cep" class="form-control"/>
        <span asp-validation-for="Cep" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="State" class="control-label"></label>
        <input asp-for="State" class="form-control"/>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control"/>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Neighborhood" class="control-label"></label>
        <input asp-for="Neighborhood" class="form-control"/>
        <span asp-validation-for="Neighborhood" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Street" class="control-label"></label>
        <input asp-for="Street" class="form-control"/>
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>