@model Treinar.Models.CadastroCompletoViewModel


<form asp-action="CadastroCliente" method="post">
    <div class="accordion-item">
        <h2 class="accordion-header" id="accPessoa1">
            <button class="accordion-button" text-danger type="button" data-bs-toggle="collapse"
                    data-bs-target="#acoor_1" aria-expanded="true"
                    aria-controls="acoor_1">
                ADICIONAR CLIENTE
            </button>
        </h2>
        <div id="acoor_1" class="accordion-collapse collapse show" aria-labelledby="accPessoa1" data-bs-parent="#accordionlefticon">
            <div class="accordion-body">
                <partial name="_CadastroCliente" for="ClienteViewModel"/>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="accPessoa1">
            <button class="accordion-button" text-danger type="button" data-bs-toggle="collapse"
                    data-bs-target="#acoor_1" aria-expanded="true"
                    aria-controls="acoor_1">
                ENDEREÇO
            </button>
        </h2>
        <div id="acoor_1" class="accordion-collapse collapse show" aria-labelledby="accPessoa1" data-bs-parent="#accordionlefticon">
            <div class="accordion-body">
                <partial name="_CepCliente" for="CepClienteViewModel"/>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>