@model IEnumerable<Treinar.Data.Entidades.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Listas Clientes</h2>

<table class="table">
    <tr>
        <th>
            Primeiro Nome
        </th>
        <th>
            Ultimo Nome
        </th>
        <th>
            Idade Do Cliente
        </th>
        <th></th>
    </tr>
</table>

@foreach (var item in Model)
{
    <div class="grid-container">
        <div class="grid-item">@Html.DisplayFor(modelItem => item.FirstName)</div>
        <div class="grid-item">@Html.DisplayFor(modelItem => item.LastName)</div>
        <div class="grid-item">@Html.DisplayFor(modelItem => item.IdadeDoCliente)</div>
    </div>
}